# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/
*.log

# Tests and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db