{% load static %}

<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}Weather{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'weather/css/app.css' %}"
    >
</head>

<body>
<header class="site-header">
    <div class="container header-content">
        <a
            class="site-brand"
            href="{% url 'weather:precipitation-list' %}"
        >
            Weather
        </a>

        <nav
            class="navigation"
            aria-label="Główna nawigacja"
        >
            <a
                class="navigation-link"
                href="{% url 'weather:precipitation-list' %}"
            >
                Pomiary
            </a>

            <a
                class="navigation-link"
                href="{% url 'weather:precipitation-upload' %}"
            >
                Import CSV
            </a>
        </nav>
    </div>
</header>

    <main class="container main-content">
        {% if messages %}
            <div
                class="messages"
                aria-live="polite"
            >
                {% for message in messages %}
                    <div
                        class="alert alert-{{ message.tags }}"
                        role="status"
                    >
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>